# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.la
*.lo

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

# 3DS
build/
romfs/

# 3DS executables
3DShell.*
